<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.InformationMapper">

    <select id="selectAll" resultType="com.example.entity.Information">
        select information.*, admin.name as authorName from `information`
        left join admin on information.author_id = admin.id
        <where>
            <if test="title != null"> and information.title like concat('%', #{title}, '%')</if>
        </where>
        order by information.id desc
    </select>

    <delete id="deleteById">
        delete from `information`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Information" useGeneratedKeys="true">
        insert into `information`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="cover != null">cover,</if>
            <if test="publishTime != null">publish_time,</if>
            <if test="authorId != null">author_id,</if>
            <if test="viewCount != null">view_count,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="cover != null">#{cover},</if>
            <if test="publishTime != null">#{publishTime},</if>
            <if test="authorId != null">#{authorId},</if>
            <if test="viewCount != null">#{viewCount},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Information">
        update `information`
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="cover != null">
                cover = #{cover},
            </if>
            <if test="publishTime != null">
                publish_time = #{publishTime},
            </if>
            <if test="authorId != null">
                author_id = #{authorId},
            </if>
            <if test="viewCount != null">
                view_count = #{viewCount},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>